.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
    /* background-color: red; */
}

.rounded{
    border-radius: 0.4375rem;
}

.m-1{
    margin: 0.3125rem;
}

.p-1{
    padding: 0.625rem;
}

.p-1-left{
    padding-inline-start: 1.65rem;
}

.opacity-class{
    opacity: 0.7;
}

.font-class-1{
    font-family:"Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
}

.btn{
    padding: 0.7rem;
    border-radius:2rem;
    font-size: 0.8575rem;
    font-weight: 700;
}

